<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
</head>

<body>
    <header>
        <h1>¡Bienvenido a la Pokedex!</h1>
    </header>

    <main>
        <p>Explora y organiza tus Pokémon favoritos.</p>
        <div class="btn-container">
            <button class="btn-primary" routerLink="/pokemons">Ver Todos los Pokémon</button>
            <button class="btn-secondary" routerLink="/favoritos">Ver Pokémon Favoritos</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Pokedex. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
