/* Estilo general del cuerpo */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #f9fafb;
    background: url('https://imgs.search.brave.com/8EQpsethkktDfQ_LHBtfieLIKE6re8ffNGImQqdoXLs/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvcGlr/YWNodS00ay13aXRo/LXBva2Vtb24tY291/c2lucy1tc256OXh1/cTN6eTZvYjU4Lmpw/Zw') no-repeat center center fixed;
    background-size: cover;
}

/* Encabezado */
header {
    padding: 2rem;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border-bottom: 4px solid #e63946;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Contenido principal */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.6); /* Fondo translúcido */
    border-radius: 10px;
    margin: 2rem;
}

main h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fbbf24;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

/* Botones */
.btn-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1.5rem;
}

button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Botón primario */
.btn-primary {
    background-color: #1d4ed8;
    color: #ffffff;
    border: 2px solid #1e40af;
}

.btn-primary:hover {
    background-color: #1e3a8a;
    border-color: #312e81;
    transform: scale(1.05);
}

/* Botón secundario */
.btn-secondary {
    background-color: #eab308;
    color: #1f2937;
    border: 2px solid #f59e0b;
}

.btn-secondary:hover {
    background-color: #ca8a04;
    border-color: #a16207;
    transform: scale(1.05);
}

/* Pie de página */
footer {
    padding: 1.5rem 0;
    background: rgba(0, 0, 0, 0.9);
    color: #f9fafb;
    text-align: center;
    border-top: 3px solid #e63946;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
}

footer p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}
